.ant-input-group-addon > button {
  background-color: #0d5cb6;
}

.ant-pagination-item-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.text-btn {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: var(--accent);
  position: relative;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 4px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: var(--accent);
    transition: width var(--transition);
  }

  &--white {
    @apply text-white after:bg-white;
  }

  &:hover,
  &:focus {
    &:after {
      width: 100%;
    }
  }
}
