@tailwind base;
@tailwind components;
@tailwind utilities;

@import './global';
@import './font';
@import './typo';

@layer base {
  :root {
    --body-light: #f9f9f9;
    --body-dark: #00193b;

    --text-light: #515c6b;
    --text-dark: #e2e1e1;

    --header-light: #00193b;
    --header-dark: #d8e9ff;

    --accent-light: #035ecf;
    --accent-dark: #4f89fc;

    --widget-light: #ffffff;
    --widget-dark: #031123;

    --border-light: #f1f1f1;
    --border-dark: rgba(53, 69, 133, 0.4);

    --input-border-light: #e2e1e1;
    --input-border-dark: #354585;

    --accent-light: #035ecf;
    --accent-dark: #4f89fc;

    --shadow-light: 0px 3px 14px rgba(226, 225, 225, 0.75);
    --shadow-dark: 0px 3px 14px #00285d;
    --highlight-dark: #273241;

    --gray: #8d8d99;
    --red: #ff5470;
    --green: #00ba9d;
    --green-100: #01c8a9;
    --green-200: #02a189;

    --color-accent: 0, 159, 127;
    --color-accent-hover: 1, 147, 118;
    --color-accent-300: 153, 217, 204;
    --color-accent-400: 77, 188, 165;
    --color-accent-500: 0, 159, 127;
    --color-accent-600: 0, 143, 114;
    --color-accent-700: 0, 119, 95;

    --color-light: 255, 255, 255;
    --color-dark: 0, 0, 0;

    --text-base: 107, 114, 128;
    --text-base-dark: 75, 85, 99;

    --text-heading: 31, 41, 55;
    --text-sub-heading: 55, 65, 81;

    --text-muted-light: 209, 213, 219;
    --color-muted-black: 17, 17, 17;

    --text-bolder: 31, 41, 55;

    --color-gray-50: 249, 250, 251;
    --color-gray-100: 243, 244, 246;
    --color-gray-200: 229, 231, 235;
    --color-gray-300: 209, 213, 219;
    --color-gray-400: 156, 163, 175;
    --color-gray-500: 107, 114, 128;
    --color-gray-600: 75, 85, 99;
    --color-gray-700: 55, 65, 81;
    --color-gray-800: 31, 41, 55;
    --color-gray-900: 31, 41, 55;

    --body-font: 'Archivo', sans-serif;
    --heading-font: 'Archivo SemiExpanded', sans-serif;
    --transition: 0.3s ease-in-out;
  }
}

@layer components {
  .card {
    @apply rounded-md bg-widget p-5 shadow-default transition-shadow duration-300 md:p-[26px];

    &:not(.no-hover) {
      &:hover {
        box-shadow: var(--hover-shadow);
      }
    }
  }

  .badge {
    @apply inline-flex h-[22px] items-center justify-center px-[7px] py-0 font-heading text-[13px] font-bold leading-[1] text-widget;

    &--square {
      @apply rounded-md;
    }
  }

  .icon-wrapper {
    @apply flex w-[18px] items-center justify-center text-[18px];
  }

  .tool-btn {
    @apply inline-flex w-fit items-center gap-[10px] font-heading text-[14px] font-bold leading-[1] transition duration-300 hover:text-accent focus:text-accent;
  }

  .menu {
    @apply flex flex-col gap-5;

    &-item {
      @apply flex h-11 cursor-pointer items-center justify-between gap-[11px] rounded-md border-[1px] border-solid border-transparent py-0 pl-3 pr-[18px] font-heading text-[16px] font-bold text-header transition-all ease-in-out;

      &:hover,
      &:focus,
      &.active {
        @apply border-border bg-body text-header;

        .icon {
          @apply text-header;
        }
      }
    }

    &-divider {
      @apply h-[1px] bg-border;
    }
  }

  .text-btn {
    @apply relative inline-flex w-fit items-center gap-1 font-heading text-[14px] font-semibold leading-[1] text-accent;
    &:after {
      @apply absolute -bottom-0.5 left-0 h-[1px] w-0 bg-accent transition-all ease-in-out content-[''];
    }

    &--white {
      @apply text-white after:bg-white;
    }

    &:hover,
    &:focus {
      &:after {
        @apply w-full;
      }
    }
  }

  .page-btn {
    width: 34px;
    height: 34px;
    border: 1px solid var(--accent);
    border-radius: 6px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition);

    &.active,
    &:hover,
    &:focus {
      background-color: var(--accent);
      color: #fff;
    }
  }
}

@layer utilities {
  .widgets-grid {
    @apply grid gap-5 md:gap-[26px];
  }

  .outline-none-override {
    outline: none;
  }

  .ant-input-group-addon > button {
    @apply bg-[#0d5cb6];
  }

  .ant-pagination-item-link {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
