/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './global';
@import './font';
@import './element';
@import './typo';

@layer base {
  :root {
    --body-light: #f9f9f9;
    --body-dark: #00193b;

    --text-light: #515c6b;
    --text-dark: #e2e1e1;

    --header-light: #00193b;
    --header-dark: #d8e9ff;

    --accent-light: #035ecf;
    --accent-dark: #4f89fc;

    --widget-light: #ffffff;
    --widget-dark: #031123;

    --border-light: #f1f1f1;
    --border-dark: rgba(53, 69, 133, 0.4);

    --color-accent: 0, 159, 127;
    --color-accent-hover: 1, 147, 118;
    --color-accent-300: 153, 217, 204;
    --color-accent-400: 77, 188, 165;
    --color-accent-500: 0, 159, 127;
    --color-accent-600: 0, 143, 114;
    --color-accent-700: 0, 119, 95;

    --color-light: 255, 255, 255;
    --color-dark: 0, 0, 0;

    --text-base: 107, 114, 128;
    --text-base-dark: 75, 85, 99;

    --text-heading: 31, 41, 55;
    --text-sub-heading: 55, 65, 81;

    --text-muted-light: 209, 213, 219;
    --color-muted-black: 17, 17, 17;

    --text-bolder: 31, 41, 55;

    --color-gray-50: 249, 250, 251;
    --color-gray-100: 243, 244, 246;
    --color-gray-200: 229, 231, 235;
    --color-gray-300: 209, 213, 219;
    --color-gray-400: 156, 163, 175;
    --color-gray-500: 107, 114, 128;
    --color-gray-600: 75, 85, 99;
    --color-gray-700: 55, 65, 81;
    --color-gray-800: 31, 41, 55;
    --color-gray-900: 31, 41, 55;

    --heading-font: 'Archivo SemiExpanded', sans-serif;
    --transition: 0.3s ease-in-out;
  }
}
